// style general start
body{
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    color: #101010;
    //scroll-behavior: smooth;
    line-height: 1.35em;
}
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.font-primary{
    font-family: $font-family-primary;
}
.font-secondary{
    font-family: $font-family-sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: $font-family-primary;
}
/* h2{
    font-size: 22px;
} */
.bg-gradient-primary {
    background: linear-gradient($primary-dark, $primary);
}
.w-80{
    width: 80%;
}
.w-90{
    width: 90%;
}
img{
    width: 100%;
}
.text-shadow{
    text-shadow: 1px 1px 2px #000;
}
.cont-shadow{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.slick-prev{
    left: 0 !important;
    z-index: 2;
}
.slick-next{
    right: 15px !important;
}
body .slick-prev:before, body .slick-next:before{
    color: $primary !important;
    font-size: 35px;
}
.slick-dots li.slick-active button:before{
    color: $primary !important;
}
.back-top {
    position: fixed;
    bottom: .5rem;
    right: 1rem;
    font-size: 2.75rem;
    color: $success;
    text-decoration: none;
    z-index: 1030;
    line-height: 0;
    display: none;
    transition: all .5s ease;

    &:hover,
    &:focus {
        text-decoration: none;
        color: $secondary;
        opacity: .85;

    }
}
section[id] {
    scroll-margin-top: 270px;
}
.iti{
    width: 100%;
  display: block;
}
.cel-alert-erro{
    display: block;
}
.line-white, .line-primary{
    position: relative;
    &::before{
        content: "";
        width: 40px;
        height: 2px;        
        position: absolute;
        left: 50%;
        margin-left: -20px;
        bottom: -10px;
    }
}
.line-white{
    &::before{
        background-color: $white;
    }
}
.line-primary{
    &::before{
        background-color: $primary;
    }
}
.hide{
    display: none !important;
}
#error-msg, #valid-msg {
    padding-top: 3px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.875em;    
}
#error-msg{
    color: #e3342f;
}
.menufixed {
    //position: fixed;
    position: sticky;
    z-index: 1000;
   top: 0;
   width: 100%;
    left: 0;
   background-color: $primary;
   box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.35);

    .navbar-brand {
        img {
           max-height: 40px;
       }
    }

}
@keyframes ripple {
    100% {
        transform: scale(2);
        opacity: 0;
    }
}
.waves{
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.waves .particle{
    transform: scale(0);
    background: rgba(211, 211, 211, 0.4);
    width: 0;
    height: 0;
    border-radius: 50%;
    position: absolute;
    opacity: 1;
    pointer-events: none;
}
.animation{
    animation: ripple .5s linear;
}
.loading {
    display: none;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba($dark, 45%);
    justify-content: center;
    align-items: center;
    z-index: 1040;

    &.show {
        position: fixed;
        min-height: 100vh;
        width: 100vw;
        display: flex;
    }
}
// style general end


//navbar start
.navbar{
    z-index: 99;
    font-family: $font-family-primary;
    .navbar-toggler{
        color: $primary;
        border-color: $primary;
        .sandwitch_icon{
            &::before{
                //content: "\f00d";
                font-size: initial;
            }
        }

    }
    
    

    li a {
        position: relative;
        &::after{
            position: absolute;
            content: "";
            width: 100%;
            height: 3px;
            top: 100%;
            left: 0;
            background: $success;
            transition: transform 0.5s;
            transform: scaleX(0);
            transform-origin: right;
        }
        &:hover::after{
            transform: scaleX(1);
            transform-origin: left;
        }
    }
    li.nav-item.active a{
        color: $success !important;
    }
}

@media (max-width: 980px){
    .navbar-collapse{
        justify-content: center !important;
        display: flex;
        .navbar-nav{
            text-align: center;
        } 
    }
}
//navbar end


// baner header start
.slider_home{
    height: calc(100vh - 63px)!important;
    background-image: url(../images/bg-home.jpg);
    width: 100%;
    background-size: cover;
    background-position: 50%;
    display: flex;
    position: relative;
    
    &::before{
        content: "";
        //top:4px;
        background-color: rgba(0,0,0,.6);
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        z-index: 1;
    }
    .content_banner__home{
        //align-self: center;
        z-index: 2;        
        display: flex;
        justify-content: center;

        .text-info_banner{
            align-self: center;
            text-shadow: 1px 1px 2px #000;
            word-wrap: break-word;
        }
        .cont-form{
            transform: translateY(-5%);

            .form-banner{
                background-color: #fff;
                padding: 1rem 1.5rem;
                border-radius: 10px;
                position: relative;
                z-index: 0;
                //width: 320px !important;
                .form-control{
                    box-sizing: border-box;
                    border: initial;
                    margin: initial;
                    padding: 0.375rem 0.75rem ;
                    background-color: #F4F8F7;
                    border-color: #F4F8F7;
                    font-size: 15px !important;
                    height:calc(1.6em + 0.75rem + 2px);
                    &:focus{
                        box-shadow: 0 0 0 0.2rem rgb(90 216 54 / 32%);
                    }
                    color: black;
                    //padding: 0.375rem 0.2rem;
                    border-radius: 0.25rem;
                }
            }

            .terms-conditions{
                font-size: 12px;
            }

            .btn-send_banner{
                font-family: $font-family-primary;
                border-radius: 50px;
                border: none;
                border: none;
                min-height: 40px;
                position: absolute;
                top: auto;
                left: 50%;
                transform: translateX(-50%);
                padding: 0.65rem 4.3rem;
                font-size: 16px;
            }
            
            .custom-control-input:checked ~ .custom-control-label::before,
            .custom-control-input:not(:disabled):active ~ .custom-control-label::before {
                border-color: $white;
                background-color: $success;
                border-color: $success;
            }
            .custom-control-input:focus:not(:checked) ~ .custom-control-label::before{
                border-color: $success;
            }
            .custom-control-input:focus ~ .custom-control-label::before{
                box-shadow: 0 0 0 0.2rem rgb(0 140 66 / 20%);
            }
        }
    }    
}
// baner header end


// quienes somos start
.section_quienessomos{
    .cont-fils{
        text-align: center;
    }
    .info_nosotros{
        background-color: $gray;
        color: white;
    }
    .long-text{
        font-size: 20px;
        font-family: $font-family-primary;
        display: flex;
        line-height: 1;
    }
    .img-icons{
        margin: auto;
        img{
            width: 65px;
        }
    }
}
// quienes somos end


//diplomado internacional start
.section_diplomado{
    .cont-fils{
        text-align: center;
    }
    .info_nosotros{
        background-color: $gray;
        color: white;
    }
    .long-text{
        font-size: 20px;
        font-family: $font-family-primary;
        display: flex;
        line-height: 1;
    }
    .card{
        border: none;
         
        .card-header{
            .title-header{
                font-size: 16px;
                box-shadow: none;
                text-decoration: none;
                .cont-icon{
                    font-size: 0.70em;
                }
            }
        } 

    }
}
//diplomado internacional end


.section_software{
    background-image: url(../images/bg-software_1.png);
    background-size: cover;
    .cont-software{
        .img-people,.img-people-log,.img-people-medium,.img-people-xlong{
            img{
                filter: drop-shadow(-6px 9px 7px rgba(25, 25, 27, 0.6803921569));
            }
        }
        .img-people-log{
            display: flex;
            align-items: center;
        }

        .cont_info{
            display: flex;
            align-items: center;
            .cont-icon-text{
                border-radius: 5rem;
                animation: bounce-top 2s ease-in-out infinite alternate both;               
                .icon-soft,.text-soft{
                    align-self: center;
                }
            }
        }
        .cont_info_long{
            right:0;
            display: flex;
            flex-wrap: wrap;
            padding: 20px;
            color: #0000007d;
            padding: 20px;
            //border: 4px dashed;
            justify-content: center;
            .cont-icon-text{
                border-radius: 5rem;
                
                .icon-soft,.text-soft{
                    align-self: center;
                } 
            }
        }  
        
        .con_info_medium{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            .cont-icon-text{
                border-radius: 5rem;
                //animation: bounce-top 2s ease-in-out infinite alternate both;               
                .icon-soft,.text-soft{
                    align-self: center;
                }
            }
        }

        .con_info_xlong{
                display: flex;
                flex-wrap: wrap;
                padding: 35px 20px 12px !important;
                justify-content: center;
                align-items: center;
            .cont-icon-text{
                border-radius: 5rem;
                //animation: bounce-top 2s ease-in-out infinite alternate both;               
                .icon-soft,.text-soft{
                    align-self: center;
                }
            }
        }
        
    }
}


// cursos start
.section_cursos{
    .cont-img_cursos{
        color: #fff;
        position: relative;
        overflow: hidden;
        min-width: auto;
        max-width: 310px;
        max-height: 220px;
        margin: 0 auto 20px;
        width: 100%;
        background: #000;
        text-align: center;
        border-radius: 10px;
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 40%), 0 2px 4px -1px rgb(0 0 0 / 50%);
        img{
            opacity: .5;
            transition: all .3s ease-in-out;
        }
        &:hover{
            img{
                opacity: .25;
                transform: scale(1.1);
            }
        }
        a{
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            left: 0;
        }
        .info-curso{
            bottom: 0px !important;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            h2{
                font-size: 1.2em;
                padding: 15px;
            }
        }
    }
}
// cursos end


// porque elegirnos start
.section_porqueelegirnos{
    /* .cont-degrade{
        background-image: linear-gradient(180deg,rgba(255,255,255,0.1) 0%,rgba(255,255,255,0) 100%);
        border-radius: 10px 10px 10px 10px;
        overflow: hidden;
    } */
    .cont-icons{
        display: flex;
        flex-direction: column;
        align-items: center;
        .icon-img{
            width: 65px;
        }
    }
}
// porque elegirnos end


//testimonios start
.section_testimonios{
    background-image: url(../images/bg-estructuras.png);
    background-size: cover;
    .cont-profile{
        .cont-img{            
            &::before{     
                filter: drop-shadow(-2px 2px 2px gray);          
                width: 30px;
                height: 22px;
                position: absolute;
                background-size: contain;
                content: "";
                bottom: 0;
                background-repeat: no-repeat;
                background-position-x: right;
                background-position-y: bottom;
                /* left: calc(0px - -10px); */
            }
        }

        .country-peru{
            &::before{
                background-image: url(../images/logo_peru.png);
            }            
        }

        .country-chile{
            &::before{
                background-image: url(../images/logo_chile.png);
            }            
        }

        .country-mexico{
            &::before{
                background-image: url(../images/logo_mexico.png);
            }            
        }

        

    }
}
//testimonios end


//cliente start
.section_clientes{
    .cont-imgs{
        display: flex;
        justify-content: center;
    }
}
//cliente end


// footer start
.footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: $white;
    background: linear-gradient(to right, #314589, #5e9dd6);

    .info-footer {
        font-size: 1.55rem;
    }
}
// footer end

//movil:
@media (min-width: 576px){

}

// solo ipda:
@media only screen and (min-width: 768px) and (max-width: 980px){
    h2{
        font-size: 35px;
    }
    p{
        font-size: 16px;
    }    

    .line-white::before, .line-primary::before{
        //bottom: -10px;
        height: 4px;
    } 

    .slider_home{
        .text-info_banner {
            h3{font-size: 40px;}
            h5{font-size: 30px;}
        }
        .title-form-banner{
            font-size: 16px;
        }
        .cont-form{
            display: flex;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
        }
        .btn-send_banner{
            padding: 0.65rem 2.5rem !important;
        }
    }

    
    .section_quienessomos{
        .cont-fils{
            display: flex;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
            justify-content: center;
            margin: 0;
            text-align: left !important;
        }
        .long-text{
            font-size: 30px !important;
        }
        .cont-img{
            display: flex;
            justify-content: center;
            img{
                width: 100%;
            }
        }
        .img-icons img {
            width: 65px;
        }
    }

    .section_diplomado{        
        .cont-fils{
            display: flex;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
            justify-content: center;
            margin: 0;
            text-align: left !important;
        }
        .long-text{
            font-size: 30px !important;
        }
    }
    
    .section_cursos{
        .cont-fils{
            display: flex;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
            //justify-content: space-evenly;
            justify-content: center;
        }
        .cont-img_cursos{
            .info-curso h2{
                font-size: 1em;
            }
        }  
    }

    .section_porqueelegirnos{
        .cont-fils{
            display: flex;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
            justify-content: center;
            margin: 0;
            .cont-icons{
                text-align: center;
            }
        }       
        
    }

    .section_software{
        .cont-software{
            .img-people{
                &::before{
                    background-image: url(../images/line_software.png);
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    background-size: 150px;
                    bottom: -3rem;
                    background-repeat: no-repeat;
                    right: -9.5rem;
                    transform: rotate(34deg);
                    z-index: 0;
                }
            }
            .cont_info{
                justify-content: center;
            }            
            .cont_info_long,.con_info_medium, .con_info_xlong{
                border: 4px dashed;
                padding: 20px !important;
                border-color: rgba(0, 0, 0, 0.4901960784);
            }  
        }    
    }

    
}

//ipad pro  and desktop
@media only screen and (min-width: 980px){
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 35px;
    }
    h3{
        font-size: 28px;
    }
    p{
        font-size: 18px;
    }
    section[id] {
        scroll-margin-top: 55px;
    }
    .line-white::before, .line-primary::before{
        //bottom: -10px;
        height: 4px;
    }
    .slick-next{
        right: -15px !important;
    }
    .slick-prev{
        left: -30px !important;
    }

    .slider_home{
        .content_banner__home{
            align-self: center;
            .title-form-banner{
                font-size: 20px;
            }
            .text-info_banner{
                h3{
                    font-size: 40px;
                }
                h5{
                    font-size: 20px;
                }
            }
            .cont-form{
                display: flex;
                flex-wrap: wrap;
                margin-right: -15px;
                margin-left: -15px;
            }
        }  
    }   

    .cont-fils{
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        justify-content: center;
        margin: 0;
    }

    .section_quienessomos{
        .long-text{
            font-size: 28px !important;
        }
        .cont-info{
            align-self: center;
        }   
        .cont-fils{
            text-align: left !important;
        }
        .img-icons{
            img{
                width: 78px;
            }
        }
        .img-colum{
            align-self: center;
        }
    }

    .section_diplomado{

        .long-text{
            font-size: 28px !important;
        }
        .cont-info{
            align-self: center;
        }   
        .cont-fils{
            text-align: left !important;
        }
        .card{            
            .card-header{
                .title-header{
                    font-size: 18px;
                    box-shadow: none;
                    text-decoration: none;
                }
            } 
        }
        
    }

    .section_software{
        .cont-software{
            .img-people{
                &::before{
                    background-image: url(../images/line_software.png);
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    background-size: 250px;
                    bottom: -5rem;
                    background-repeat: no-repeat;
                    right: -14.5rem;
                    transform: rotate(38deg);
                    z-index: 0;
                }
            }

            .img-people-log{                
                &::before{
                    background-image: url(../images/line-programa-clear.png);
                    content: "";
                    width: 427px;
                    height: 832px;
                    position: absolute;
                    background-size: 427px;
                    bottom: -8rem;
                    background-repeat: no-repeat;
                    right: -106%;
                    transform: rotate(22deg);
                    z-index: 0;
                }
            }

            .img-people-medium{                
                &::before{
                    background-image: url(../images/line_software.png);
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    background-size: 100%;
                    bottom: 0.5rem;
                    background-repeat: no-repeat;
                    right: -68%;
                    transform: rotate(9deg);
                    z-index: 0;
                }
            }

            .img-people-xlong{
                &::before{
                    background-image: url(../images/line_software.png);
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    background-size: 67%;
                    top: 8rem;
                    background-repeat: no-repeat;
                    right: -89%;
                    transform: rotate(21deg);
                    z-index: 0;
                }
            }

            .cont_info{
                justify-content: center;
            }

            .cont_info_long{
               
                display: grid;
                justify-items: end;
                right: 4em;
                justify-content:initial;
                justify-content:initial;
                padding: auto !important;
                //align-items: center;
                /* .cont-icon-text{
                    border-radius: 5rem;
                    
                    .icon-soft,.text-soft{
                        align-self: center;
                    } 
                } */
           
                .pointer_1,
                .pointer_2,
                .pointer_3,
                .pointer_4,
                .pointer_5,
                .pointer_6,
                .pointer_7,
                .pointer_8{                    
                    &::before{
                        animation: pulse 2s infinite;
                        background-image: url(../images/pointer-programa.png);
                        content: '';
                        width: 38px;
                        height: 37px;
                        background-repeat: no-repeat;
                        position: absolute;   
                        background-size: 38px;
                        border-radius: 50%;
                    }
                }
                .pointer_1{
                    &::before{
                        left: -2.5em;
                    }
                }
                .pointer_2{
                    &::before{
                        left: -2.9em;
                    }
                }
                .pointer_3{
                    &::before{
                        left: -3.6rem;
                    }
                }
                .pointer_4{
                    &::before{
                        left: -3rem;
                    }
                }
                .pointer_5{
                    &::before{
                        left: -3.3rem;
                    }
                }
                .pointer_6{
                    &::before{
                        left: -3rem;
                        top: -0.5em;
                    }
                }
                .pointer_7{
                    &::before{
                        left: -2rem;
                        top: -1.1em;
                    }
                }
                .pointer_8{
                    &::before{
                        left: 0rem;
                        top: -2.5em;
                    }
                }
                .con-point{
                    &:nth-child(1){
                        margin-right: 1.8em;
                    }
                    &:nth-child(2){
                        margin-right: 1.8em;
                    }
                    &:nth-child(3){
                        margin-right: 2.8em;
                    }
                    &:nth-child(4){
                        margin-right: 5em;
                    }
                    &:nth-child(5){
                        margin-right: 8em;
                    }
                    &:nth-child(6){
                        margin-right: 12em;
                    }
                    &:nth-child(7){
                        margin-right: 20em;
                    }
                    &:nth-child(8){
                        margin-right: 30em;
                    }
                }
                
                
            }

            .con_info_medium{
                display: grid;
                justify-items: center;
                justify-content:initial;
                justify-content:initial;
                padding: auto !important;          
                
                .con-point {                    
                    &::before{
                        animation: pulse 2s infinite;
                        background-image: url(../images/pointer-programa.png);
                        content: '';
                        width: 38px;
                        height: 37px;
                        background-repeat: no-repeat;
                        position: absolute;   
                        background-size: 38px;
                        border-radius: 50%;
                    }

                    &:nth-child(2){
                        &::before {
                            left: -27%;
                        }
                    }
                    &:nth-child(3){
                        &::before {
                            left: -27%;
                        }
                    }
                    
                }
                .con-point{
                    &:nth-child(1){
                        margin-right: 2.5em;
                       .cont-icon-text{
                            animation: bounce-top 2s ease-in-out infinite alternate both; 
                        } 
                    }
                    &:nth-child(2){
                        margin-right: 5.5em;
                        .cont-icon-text{
                            animation: bounce-top 2s ease-in-out infinite alternate 0.2s both; 
                        } 
                    }
                    &:nth-child(3){
                        margin-right: 18.5em;
                        .cont-icon-text{
                            animation: bounce-top 2s ease-in-out infinite alternate 0.6s both; 
                        } 
                    }
                }

            }

            .con_info_xlong{
                //border: 3px dashed;
                border-color: black;

                /* .pointer_2 .cont-icon-text,
                .pointer_3 .cont-icon-text,
                .pointer_6 .cont-icon-text,
                .pointer_7 .cont-icon-text,
                .pointer_10 .cont-icon-text
                .pointer_11 .cont-icon-text{
                        animation: bounce-top 2s ease-in-out infinite alternate .1s both;
                } */
            }

        }    
    }

    .section_cursos{
        .cont-fils{
            //justify-content: space-evenly;
            justify-content: center;
        }
        .cont-img_cursos{
            //max-width: 95%;
            .info-curso h2{
                font-size: 1.5em;
            }
        }  
    }

    .section_porqueelegirnos{
        .icon-img{
            width: 80px !important;
        }
    }    
}


//desktop xl icon  countrys testimonios
@media screen and (min-width: 1450px) {
    .section_testimonios{
        .cont-profile{
            .cont-img{
                &::before{
                    width: 42px;
                    height: 30px;
                    /* left: calc(0px - -10px); */
                }
            }
        }
    }
}
@media screen and (min-width: 1580px) {
    .section_testimonios{
        .cont-profile{
            .cont-img{
                &::before{
                    width: 45px;
                    height: 32px;
                    /* left: calc(0px - -10px); */
                }
            }
        }
    }
}
@media screen and (min-width: 1800px){
    .section_testimonios{
        .cont-profile{
            .cont-img{
                &::before{
                    width: 55px;
                    height: 42px;
                    /* left: calc(0px - -10px); */
                }
            }
        }
    }
}
  

/*key frames*/
  @keyframes bounce-top {
    0% {
      -webkit-transform: translateY(-24px);
              transform: translateY(-24px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-18px);
              transform: translateY(-18px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-12px);
              transform: translateY(-12px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-6px);
              transform: translateY(-6px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(4px);
              transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }

  @keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }


  @keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.123);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.137);
	}
}